hr#horizontal
footer.site-footer
  img.copy-img.dark-icon(src=imageRootFolder+'/copyright2.png')
  img.copy-img.light-icon(src=imageRootFolder+'/copyright1.png')
  span.liketext | 2019 Todoapp-Powered by Prismic
    
  nav
     img.footer-logo.dark-icon(src=imageRootFolder+'/facebook2.png') 
     img.footer-logo.light-icon(src=imageRootFolder+'/facebook1.png') 
     img.footer-logo.dark-icon(src=imageRootFolder+'/instagram2.png')
     img.footer-logo.light-icon(src=imageRootFolder+'/instagram1.png')
     img.footer-logo.dark-icon(src=imageRootFolder+'/twitter2.png')
     img.footer-logo.light-icon(src=imageRootFolder+'/twitter1.png')