if (slice.primary.image_side)
    -var sectionText = "image_info_section-" + slice.primary.image_side
else
    -var sectionimage = "image_info_section-right"
div.heighlight-content
  div.heighlight-image
    section.content-section(class=sectionText)
      img(src=slice.primary.info_image.url)
  div.heighlight-contenttwo
    img.arrow-light(src=slice.primary.icon_black.url)
    img.arrow-dark(src=slice.primary.icon_white.url)
    h2.info-title !{PrismicDOM.RichText.asText(slice.primary.info_title, ctx.linkResolver)} 
    p.info-text !{PrismicDOM.RichText.asHtml(slice.primary.info_text, ctx.linkResolver)}