if slice.primary.mesh_side
  - var sectionimage = "full_width_image-" + slice.primary.mesh_side
else
  - var sectionimage = "full_width_image-right"

if slice.primary.image_white.url
  - var whiteimage = slice.primary.image_white
else 
  - var whiteimage = slice.primary.image_black


div.image-container 
  section.image-section-one(class=sectionimage)
    img.back-img(src=slice.primary.background_image.url,alt=slice.primary.background_image.alt)

  section.image-section-two
    img.img-black(src=slice.primary.image_black.url,alt=slice.primary.image_black.alt)
    img.img-white(src=whiteimage.url,alt=whiteimage.alt)