if slice.primary.background_image_position
  - var sectionImage = "full_width_image-" + slice.primary.background_image_position
else
  - var sectionImage = "full_width_image-right"

//If there is no white theme Image then render black image 
if slice.primary.image_white.url
  - var whiteImage = slice.primary.image_white
else 
  - var whiteImage = slice.primary.image_black
  
//If there is no black theme Image then render white image 
if slice.primary.image_black.url
  - var blackImage = slice.primary.image_black
else 
  - var blackImage = slice.primary.image_white

div.image-container 
  section.image-section-one(class=sectionImage)
    img.back-img(src=slice.primary.background_image.url, alt=slice.primary.background_image.alt)

  section.image-section-two
    img.img-black(src= blackImage.url, alt= blackImage.alt)
    img.img-white(src=whiteImage.url, alt=whiteImage.alt)