div.heighlight-container
  div.heighlight-image
    section.content-section(class=sectionText)
      img(src=slice.primary.heighlight_image.url,alt=slice.primary.heighlight_image.alt)

  div.heighlight-content
    img.arrow-black(src=slice.primary.icon_black.url,alt=slice.primary.icon_black.alt)
    img.arrow-white(src=slice.primary.icon_white.url,alt=slice.primary.icon_white.alt)
    div.heighlight-title
      != ctx.prismicDom.RichText.asHtml(slice.primary.heighlight_title, ctx.linkResolver)
    div.heighlight-text
      != ctx.prismicDom.RichText.asHtml(slice.primary.heighlight_text, ctx.linkResolver)