hr#horizontal

footer.site-footer
  span.liketext ©| 2019 Todoapp-Powered by Prismic
    
  nav
    img.footer-logo.dark-icon(src=ctx.imageRootFolder+'/facebook2.png') 
    img.footer-logo.light-icon(src=ctx.imageRootFolder+'/facebook1.png') 
    img.footer-logo.dark-icon(src=ctx.imageRootFolder+'/instagram2.png')
    img.footer-logo.light-icon(src=ctx.imageRootFolder+'/instagram1.png')
    img.footer-logo.dark-icon(src=ctx.imageRootFolder+'/twitter2.png')
    img.footer-logo.light-icon(src=ctx.imageRootFolder+'/twitter1.png')