header.main-header
  div.header-container
    a(href='./')
      img.check-icon.light-icon(src=ctx.imageRootFolder + "/check2.png") 
      img.check-icon.dark-icon(src=ctx.imageRootFolder + "/check.png") 
      h3.logo-text Todoop

    if menuContent
      nav.main-nav
        ul.main-nav-list
          li
            each menuLink in menuContent.data.menu_links
              a(href=ctx.prismicDom.Link.url(menuLink.link, ctx.linkResolver))
                != ctx.prismicDom.RichText.asText(menuLink.label)

            if prismicResponse
              each altlang in prismicResponse.alternate_languages
                a(href=ctx.linkResolver(altlang))
                  p(class="flag-icon flag-icon-" + altlang.lang.slice(-2))
              a(href="/change-mode")
                img.moon-light-icon.light-icon(src=ctx.imageRootFolder + "/moon2.png")
                img.moon.dark-icon.dark-icon(src=ctx.imageRootFolder + "/moon.png")